<footer class="footer">
  <small>
    a <a href="http://www.douban.com/zzrr3321/">Theyare</a> creation
  </small>
  <nav>
    <ul>
      <li><%= link_to "about",    "#" %></li>
      <li><%= link_to "Contack",  "#" %></li>
    </ul>
  </nav>
  </footer>